// Bootstrap overrides for this template
.bg-primary {
    background: $theme-primary;
    background: linear-gradient(to left, $theme-primary, darken($theme-primary, 15%));
}

.bg-secondary {
    background: $theme-secondary;
    background: linear-gradient(to right, $theme-secondary, darken($theme-secondary, 15%));
}

.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: white;
    border: 1px solid;
    border-color: white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        border-color: $theme-secondary;
        background-color: $theme-primary;
    }
}

.btn-outline2 {
    color: white;
    border: 1px solid;
    border-color: white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        border-color: $theme-primary;
        background-color: $theme-secondary;
    }
}

.btn {
    border-radius: 300px;
    @include alt-font;
}

.btn-xl {
    font-size: 11px;
    padding: 15px 45px;
}
