// Styling for the call to action section
section.cta {
    position: relative;
    padding: 125px 0;
    background-position: center;
    color: white;

    .row
    {
        margin: 75px;
        .image-fluid
        {
            margin-top: 100px;
            color: transparent;
        }
    }
}
