section.info
{
    color: white;
    min-height: 100vh;
    
    .nav-link
    {
        color: darken(white, 33%);
    }

    .nav-link.active,
    .show > .nav-link
    {
        color: white;
        background-color: #005C53;
    }
}