section.joinquiz {
    position: relative;
    padding: 125px 0;
    
    background: $theme-primary;
    background: linear-gradient(to right, $theme-primary, darken($theme-primary, 15%));

    #quizinput
    {
        margin-top: -25px;
    }

    .btn
    {
        margin-top: 25px;
    }

    h2
    {
        color: white;
    }
}